/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 1:54:07 PM
    Author     : admin
*/
.Container {
    -fx-background-color: lightBlue;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.Subject {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-weight: 2;
    -fx-stroke: gold;
}

.btn {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-font-size: 16;
    -fx-pref-width: 200;
}
